AZURE_STORAGE_ACCOUNT_NAME=
TABLE_NAME=TownHallQuestions
SETTINGS_TABLE_NAME=TownHallSettings
ADMIN_ALLOWED_GROUP_ID=
ADMIN_ALLOWED_USERS=
TOWN_HALL_NAME=OEP Strategy Town Hall
MAX_QUESTION_LENGTH=2000
RATE_LIMIT_ENABLED=true
CAPTCHA_ENABLED=false
APPLICATION_BASE_URL=
